# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `.title()`, `.upper()`

* `.capitalize()` : 앞글자를 대문자로 만들어 반환한다.

* `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환한다.

* `.upper()` : 모두 대문자로 만들어 반환한다.

In [1]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [2]:
a.capitalize()

"Hi! everyone, i'm kim"

In [3]:
a

"hI! Everyone, I'm kim"

In [4]:
a.title()

"Hi! Everyone, I'M Kim"

In [5]:
a

"hI! Everyone, I'm kim"

In [6]:
a.upper()

"HI! EVERYONE, I'M KIM"

In [7]:
a

"hI! Everyone, I'm kim"

### `.lower()`, `.swapcase()`

* `lower()` : 모두 소문자로 만들어 반환한다.

* `swapcase()` : 대 <-> 소문자로 변경하여 반환한다.

In [8]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [9]:
a.lower()

"hi! everyone, i'm kim"

In [10]:
a

"hI! Everyone, I'm kim"

In [11]:
a.swapcase()

"Hi! eVERYONE, i'M KIM"

In [12]:
a

"hI! Everyone, I'm kim"

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

**Iterable** 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

> `iterable`
>
> 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기에 속한다.

In [13]:
word = '배고파'
words = ['안녕', 'hello']

# 아래에 코드를 작성하세요.

In [14]:
'!'.join(word)

'배!고!파'

In [15]:
' '.join(words)

'안녕 hello'

## ZOLA IMPORTANT

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [16]:
# 아래에 코드를 작성하세요.

In [17]:
'Yay!'.replace('a', '_')

'Y_y!'

In [18]:
'woowoowoo'.replace('o', '0', 2)

'w00woowoo'

### `.strip([chars])`

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip), 오른쪽을 제거합니다(rstrip).

지정하지 않으면 **공백을 제거**합니다.

In [19]:
# 아래에 코드를 작성하세요.

In [20]:
'          wow! \nI\'m starving'.strip()

"wow! \nI'm starving"

In [21]:
'          wow! \nI\'m starving\n'.strip()

"wow! \nI'm starving"

In [22]:
'       SSAFY       '.lstrip()

'SSAFY       '

In [23]:
'       SSAFY       '.rstrip()

'       SSAFY'

## 탐색 및 검증

### `.find(x)` 

x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [24]:
# 아래에 코드를 작성하세요.

In [25]:
'apple'.find('p')

1

In [26]:
'samsung'.find('t')

-1

### `.index(x)`

x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
'apple'.index('p')

In [ ]:
'samsung'.index('t')

## `.split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
'a b c '.split()

In [ ]:
'1 2 3 '.split('')

In [ ]:
'0102030'.split('0')

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

In [ ]:
# 다음 명령어로 문자열 메소드를 확인할 수 있습니다.
dir('example')

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [ ]:
# 카페 리스트를 만들어봅시다.
cafe = ['starbucks', 'tomntoms', 'hollys']

In [ ]:
# 값을 추가해봅시다.

In [ ]:
cafe.append('banapresso')
cafe

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [ ]:
cafe + ['coffeebean']

In [ ]:
numbers = [1, 2, 3]
numbers.extend([4, 5, 6])

`.extend()`는 원본을 조작하기 때문에 `return` 값이 없다. `+`로 추가해주는 것이 바람직

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [ ]:
cafe += ['paekdabang']

In [ ]:
cafe

In [ ]:
# append와 비교해봅시다.

In [ ]:
cafe.append(['McCafe'])
print(cafe)
print('-----')

cafe.extend('A Twosome Place')
print(cafe)
print('-----')

cafe.extend(['cafe pascucci'])
print(cafe)

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [ ]:
cafe.insert(0, 'Maxim')
cafe

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [ ]:
cafe.insert(-1, 'Coffee Wien')
cafe

In [ ]:
cafe.insert(len(cafe), 'Coffee Smith')
cafe

In [ ]:
# 리스트의 길이를 넘어서는 인덱스는 마지막에 아이템이 추가됩니다.

In [ ]:
cafe.insert(100, 'Cafe Muhly')
cafe

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [ ]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [ ]:
numbers.remove(1)
numbers

In [ ]:
# 한번 더 삭제해봅시다.

In [ ]:
numbers.remove(1)
numbers

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [ ]:
numbers.remove(1)
numbers

In [ ]:
two = numbers.count(2)
for _ in range(two):
    numbers.remove(2)
numbers

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [ ]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [ ]:
b = a.pop(0)
print(a, b)

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

### `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

In [ ]:
a.clear()

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [ ]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [ ]:
for i in range(len(a)):
    print(a[-i])

In [ ]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)

### `.count(x)`

원하는 값의 개수를 확인할 수 있습니다.

In [ ]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

### `.sort()`

정렬을 합니다. 

내장함수 `sorted()` 와는 다르게 **원본 list를 변형**시키고, **None**을 리턴합니다.

In [ ]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

In [ ]:
# sort() 를 사용해봅시다.
lotto.sort()

### `.reverse()`

반대로 뒤집습니다. **(정렬 아님)**

In [ ]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

In [ ]:
classroom.reverse()

In [ ]:
reversed(classroom)

## 복사

In [ ]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [ ]:
copy_list = original_list
copy_list

In [ ]:
# copy_list의 값을 바꾸고 original_list를 출력해봅시다.

In [ ]:
copy_list[0] = 5
print(copy_list)
print(original_list)

In [ ]:
# id 값을 확안해봅시다.

In [ ]:
print(id(copy_list))
print(id(original_list))

In [ ]:
# 숫자를 확인해봅시다.

In [ ]:
original_number = 3
copy_number = original_number

original_number = 5
copy_number

In [ ]:
# 딕셔너리도 확인해봅시다.

In [ ]:
lunch = {'김밥천국': '참치김밥', '양자강': '차돌짬뽕'}
dinner = lunch

dinner['김밥천국'] = '치즈라면'
lunch

### copy
> 위 코드를 [pythontutor](http://pythontutor.com/) 를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 **객체의 주소**를 가지고 있을 뿐이다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 `[1, 2, 3]` 이라는 객체를 생성하고, 변수에는 객체의 주소가 저장된다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작한다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야합니다.

In [ ]:
# 리스트를 복사해봅시다.

In [ ]:
original_list = [1, 2, 3]
copy_list = original_list[:]
copy_list[0] = 5

original_list

In [ ]:
# 다른 방법으로 복사해봅시다.

In [ ]:
a = [1, 2, 3]
b = list(a)
print(id(a))
print(id(b))

In [ ]:
import copy

a = [1, 2, 3]
b = copy.copy(a)

dir(copy)

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`이다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [ ]:
a = [1, 2, [3, 4]]
b = a[:]

b[2][0] = 99
# print(a)

b[0] = 24
print(a)
print(b)

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야한다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경된다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [ ]:
import copy

a = [1, 2, [3, 4]]
b = copy.deepcopy(a)

b[2][0] = 99
# print(a)

b[0] = 24
print(a)
print(b)

## List Comprehension

List Comprehension은 리스트안에 식, for 문을 지정합니다.
여러 줄의 코드를 한 줄로 줄일 수 있습니다.

---

**활용법**

```python
[식 for 변수 in iterable]

list(식 for 변수 in iterable)
```

### 세제곱 리스트

> 다음의 리스트를 작성하세요.
- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [ ]:
a = range(1, 11)

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [ ]:
cubic_list = []
for num in a:
    cubic_list.append(num ** 3)
cubic_list

In [ ]:
# List Comprehension

In [ ]:
cubic_list = [num ** 3 for num in a]
cubic_list

## List Comprehension + 조건문

조건문에 참인 식으로 리스트를 생성합니다.

---

**활용법**

```python
[식 for 변수 in iterable if 조건식]

[식 if 조건식 else 식 for 변수 in iterable]

# elif 는 다음과 같이 사용해야 합니다. (if else 열거)
[식 if 조건식 else 식 if 조건식 else 식 if ... else ... for 변수 in iterable]
```

### 짝수리스트
> 다음의 리스트를 작성하세요.

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [ ]:
even = []
for n in range(1, 11):
    if not n % 2:
        even.append(n)
even

In [ ]:
# List Comprehension

In [ ]:
even = [n for n in range(1, 11) if not n % 2]
even

### 곱집합(Cartesian Product, Exhaustive Search)

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 작성하세요.
1. 반복문 활용
2. list comprehension 활용

```python
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
```

---

```
예시 출력)    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [ ]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 작성하세요.

In [ ]:
pair = list()
for girl in girls:
    for boy in boys:
        pair.append((girl, boy))
pair

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [ ]:
pair = [(girl, boy) for boy in boys for girl in girls]
pair

In [ ]:
from itertools import product

pair = product(girls, boys)
list(pair)

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾으세요.
1. 반복문 활용
2. list comprehension 활용

---

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 작성하세요.

In [ ]:
pitagoras = []
for x in range(1, 48):
    for y in range(x + 1, 49):
        for z in range(y + 1, 50):
            if x ** 2 + y ** 2 == z ** 2:
                pitagoras.append((x, y, z))
pitagoras

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [ ]:
pitagoras = [(x, y, z) for x in range(1, 48) 
             for y in range(x + 1, 49) 
             for z in range(y + 1, 50) 
             if x ** 2 + y ** 2 == z ** 2]
pitagoras

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하세요.

```python
words = 'Life is too short, you need python!'
```

---

```
예시 출력)
Lf s t shrt, y nd pythn!
```

In [ ]:
words = 'Life is too short, you need python!'

In [ ]:
# 반복문을 활용하여 작성하세요.

In [ ]:
for vowel in 'aeiou':
    words = words.replace(vowel, '')
words

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [ ]:
no_vowels = [alphabet for alphabet in words if alphabet not in 'aeiou']
no_vowels = ''.join(no_vowels)
no_vowels

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [ ]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [ ]:
my_dict.pop()

In [ ]:
my_dict.pop('apple')

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다.

In [ ]:
my_dict.pop('pineapple')

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다.

In [ ]:
my_dict.pop('pineapple', 0)

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [ ]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [ ]:
my_dict['banana'] = '버내너'
my_dict

In [ ]:
my_dict.update(apple='애어쁠')
my_dict

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [ ]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

In [ ]:
print(my_dict.get('pineapple'))

In [ ]:
my_dict.get('pineapple', 0)

In [ ]:
my_dict

## Dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

---

**활용법**

```python
{키: 값 for 키, 값 in 딕셔너리}

dict({키: 값 for 키, 값 in 딕셔너리})

{키: 값 for 키, 값 in 딕셔너리 if 조건식}

{키: 값 if 조건식 else 값 for 키, 값 in 딕셔너리}

```

In [ ]:
# dictionary comprehension

In [ ]:
cubic = {num: num**3 for num in range(1, 6)}
cubic

### Dictionary comprehension 사용해보기

In [ ]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아주세요.
# 예) {'대전': 82, '중국': 200}

In [ ]:
hell = {}
for key, value in dusts.items():
    if value > 80:
        hell[key] = value
hell

In [ ]:
hell = {key: value for key, value in dusts.items() if value > 80}
hell

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꾸세요.

In [ ]:
air_conditions = {key: '나쁨' if value > 80 else '보통'
                 for key, value in dusts.items()}
air_conditions

In [ ]:
# elif 도 사용할 수 있습니다. (if else 열거)

In [ ]:
air_conditions = {key: '나쁨' if value > 80 elif value > 40 '보통' else '좋음'
                 for key, value in dusts.items()}
air_conditions

In [ ]:
air_conditions = {key: '매우 나쁨' if value > 120 else '나쁨' 
                  if value > 80 else '보통' 
                  if value > 40 else '좋음'
                 for key, value in dusts.items()}
air_conditions

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [ ]:
# add를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [ ]:
a.add('포도')
a.add('포도')
a.add('포도')
a

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [ ]:
# update를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [ ]:
a.update('포도', '딸기', '귤')
a

In [ ]:
a = {'사과', '바나나', '수박'}
a.update({'포도', '딸기', '귤'})
a

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [ ]:
# remove를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [ ]:
a.remove('바나나')
a

In [ ]:
a.remove('바나나')
a

### `.discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [ ]:
# discard를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [ ]:
a.discard('바나나')
a

In [ ]:
a.discard('바나나')
a

### `.pop()`

**임의의 원소**를 제거해 반환합니다.

In [ ]:
# pop을 사용해봅시다.
a = {'사과', '바나나', '수박', '아보카도'}

In [ ]:
random_fruit = a.pop()
random_fruit

#  `map()`, `zip()`, `filter()`

## `map(function이름, iterable)`

* Iterable의 모든 요소에 function을 적용한 후 그 결과를 돌려준다. 


* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range


* return은 `map_object` 형태이다.

In [ ]:
numbers = [1, 2, 3]

# 위의 코드를 문자열 '123'으로 만드세요

In [ ]:
# list comprehension

In [ ]:
chars = [str(number) for number in numbers]
''.join(chars)

In [ ]:
# map

In [ ]:
list(map(str, numbers))

In [ ]:
numbers = ['1', '2', '3']

# 위의 코드를 숫자 '123'으로 만드세요

In [ ]:
# list comprehension

In [ ]:
# map

첫번째 인자 function은 사용자 정의 함수도 가능합니다.

In [ ]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

## `zip(*iterables)` 

* 복수의 iterable 객체를 모아준다.


* 결과는 튜플의 모음으로 구성된 `zip object` 를 반환한다.

In [ ]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
list(zip(girls, boys))

In [ ]:
# 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [ ]:
# dictionary comprehension

In [ ]:
pair = {girl: boy for girl, boy in zip(girls, boys)}
pair

In [ ]:
# zip

In [ ]:
# 다른 예시도 알아봅시다.

In [ ]:
a = '123'
b = '456'

for digit_a, digit_b in zip(a, b):
    print(int(digit_a + digit_b))

* zip은 반드시 길이가 같을 때 사용해야한다. 다르다면 가장 짧은 것을 기준으로 구성한다.

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다

In [ ]:
from itertools import zip_longest

a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

list(zip_longest(a, b, fillvalue=0))

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 `True` 인 것들만 구성하여 반환한다.


* `filter object` 를 반환한다.

In [ ]:
# 홀수인지 판단하는 코드를 작성하세요.

In [ ]:
def odd(n):
    return True if n % 2 else False

numbers = list(range(1, 11))
list(filter(odd, numbers))

In [ ]:
# 다음의 list comprehension과 동일하다.

In [ ]:
result = [n for n in numbers if odd(n)]
result